header {
    height: 70px;
    background-color: #3C9AF0;
    display: flex;
    align-items: center;
    margin-bottom: 20px ;
    width: 100%;
}

.ct-header-container h1 {
    color: var(--ct-color-font-primary);
    font-size: 20px;
    text-align: center;
}

@media (min-width: 1200px) {

    .ct-header-container h1{
        font-size: 24px;
    }
}